Source: wb-update-manager
Section: admin
Priority: optional
Maintainer: Nikita Maslov <nikita.maslov@wirenboard.com>
Build-Depends: debhelper (>= 10), dh-python, python3-all, python3-setuptools, pkg-config,
               python3-pytest, python3-tomli, python3-pytest-mock, python3-systemd
Standards-Version: 4.5.0
Homepage: https://github.com/wirenboard/wb-update-manager

Package: python3-wb-update-manager
Section: python
Architecture: all
Depends: wb-update-manager (>= 1.3.4)
Description: transitional dummy package
 This is a transitional dummy package. It can safely be removed.

Package: wb-update-manager
Architecture: all
Breaks: python3-wb-update-manager (<< 1.3.4)
Replaces: python3-wb-update-manager (<< 1.3.4)
Provides: python3-wb-update-manager
Depends: ${misc:Depends}, python3 (>= 3.5), python3-systemd, wb-release-info
Description: Wirenboard software updates and release management tool
 This package currently includes the library to read release information
 from Python scripts and the wb-release tool to switch between differrent
 Wirenboard software releases available.
